*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    margin-top: 110px;
}

/*THE NAVIGATION BAR*/


header{
    position: fixed;
    height: 110px;
    width: 100%;
    background-color: white;
    margin-top: -110px;
}
.headimage{
    margin-left: 1cm;
    margin-top:1cm;
}
.navig{
    float: right;
    margin-top: 1cm;
    margin-right: 2cm;
}
.navbtn{
    background-color: white;
    border: 0px;
    font-size: 17px;
    display: inline-block;
}
.navbtn:hover{
    color: rgb(0, 144, 217);
}
.drop1{
    display:none;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    background-color: white;
    text-align: center;
    font-size: 17px;
}
.btn{
    background-color:rgb(0, 144, 217);
    height: 1cm;
    color: white;
    padding:0.2cm;
    border: 0px;
    text-align: center;
}

.btn:hover{
    background-color: rgb(115,215,251); 
    color:white;
}



/*THIS IS CONTENT*/
.content{
    padding: 10%;
    color: white;
    text-align: center;
    background-size: cover;
}
.ad{
    width: 100%;
    padding: 10%;
    background-color: dimgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.navbtn:hover .drop1{
    display: block;
}
a{
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
.drop1 a:hover{
    background-color: gainsboro;
}
.back{
    display: none;
}

/*MEDIA QUERIES*/

@media (max-width:710px){
    .navig{
        display: none;
    }
}